<section id="header">
    <a href="#">
        <img src='/assets/img/logo.png'  class="logo" alt="">
    </a>
    <div>
        <ul id="navbar">
            <li><a class="active" href="">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href=""><i class="fas fa-sign-in-alt"></i></a></li>
            <!-- light cart <i class="fal fa-shopping-cart"></i> -->
        </ul>
    </div>
</section>