<section id="product1" class="section-p1">
    <div class="pro-container">

        <!-- A single product -->
        <div class="pro">
            <a href="#"><img src='/assets/img/products/f1.jpg' alt=""></a>
            <div class="des">
                <span>Adidas</span>
                <a href="#"><h5>Cartoon Astronaut T-Shirts</h5></a>
                <div class="star">

                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href='#'><i class='cart fal fa-shopping-cart'></i></a>
        </div>
        <!-- A single product -->
        <div class="pro">
            <a href="#"><img src='/assets/img/products/f1.jpg' alt=""></a>
            <div class="des">
                <span>Adidas</span>
                <a href="#"><h5>Cartoon Astronaut T-Shirts</h5></a>
                <div class="star">

                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href='#'><i class='cart fal fa-shopping-cart'></i></a>
        </div>
        <!-- A single product -->
        <div class="pro">
            <a href="#"><img src='/assets/img/products/f1.jpg' alt=""></a>
            <div class="des">
                <span>Adidas</span>
                <a href="#"><h5>Cartoon Astronaut T-Shirts</h5></a>
                <div class="star">

                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href='#'><i class='cart fal fa-shopping-cart'></i></a>
        </div>
        <!-- A single product -->
        <div class="pro">
            <a href="#"><img src='/assets/img/products/f1.jpg' alt=""></a>
            <div class="des">
                <span>Adidas</span>
                <a href="#"><h5>Cartoon Astronaut T-Shirts</h5></a>
                <div class="star">

                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href='#'><i class='cart fal fa-shopping-cart'></i></a>
        </div>
        <!-- A single product -->
        <div class="pro">
            <a href="#"><img src='/assets/img/products/f1.jpg' alt=""></a>
            <div class="des">
                <span>Adidas</span>
                <a href="#"><h5>Cartoon Astronaut T-Shirts</h5></a>
                <div class="star">

                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href='#'><i class='cart fal fa-shopping-cart'></i></a>
        </div>
        <!-- A single product -->
        <div class="pro">
            <a href="#"><img src='/assets/img/products/f1.jpg' alt=""></a>
            <div class="des">
                <span>Adidas</span>
                <a href="#"><h5>Cartoon Astronaut T-Shirts</h5></a>
                <div class="star">

                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href='#'><i class='cart fal fa-shopping-cart'></i></a>
        </div>
        <!-- A single product -->
        <div class="pro">
            <a href="#"><img src='/assets/img/products/f1.jpg' alt=""></a>
            <div class="des">
                <span>Adidas</span>
                <a href="#"><h5>Cartoon Astronaut T-Shirts</h5></a>
                <div class="star">

                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href='#'><i class='cart fal fa-shopping-cart'></i></a>
        </div>

    </div>
</section>